---
layout: default
title: About
---

<div class="container-sm">
  <div class="row">
    <nav class="col-sm-2 bd-toc section-nav">
      <h2> Contents </h2>
      {% for skill in site.skills %}
      <li><a href="#{{skill.topic}}">{{ skill.topic }}</a></li>
      {% endfor %}
    </nav>

    <main class="col-sm-offset-1 col-sm-8">
      {% for skill in site.skills %}
      <h2 id="{{skill.topic}}">{{ skill.topic }}</h2>
        <p>{{ skill.content }}</p>
      {% endfor %}
    </main>
  </div>
</div>
