legend {
  text-align: center;
  color: #5e5e5e;
}

td, th, table, thead {
  text-align: center;
  color: #5e5e5e;
}

td {
  color: #000;
  border: 1px solid #dddddd;
}

tr:nth-child(even), thead {
  background-color: #46B3E6;
}

nav.main-navbar {
  background-color: #46B3E6;
  text-align: center;
}

ul.navlist {
  list-style: none;
  display: inline-block;
}

ul.navlist > li.main-link {
  padding-right: 6em;
  float: left;
}

body {
  background-color: #DFF6F0;
}
